button {
  &:hover,
  &:active,
  &:focus {
		outline: none;
  }
}

.btn,
.hs-button,
.donation_option_div .da_field_name {
	background-color: $light-grey-text;
	border-radius: 0px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
  &:hover,
  &:active,
  &:focus {
  	background-color: $dark-grey-text;
		color: white;
		outline: none;
  }
}

.about-hs {
	.hs-button {
		padding: 10px;
    width: 65%;
	}	
}