// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

input, textarea {
	&:focus {
		outline: none;
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: $frame-blue !important;
  transition: background-color 5000s ease-in-out 0s;
}

.search-wide-body {
	width: 100%;

  .search-field {
  	width: 100%;
  }
	p {
		margin-top: 1rem;
		color: $dark-grey-text;
	}
}

.search-field {
	font-family: $body-font;
	font-size: $large-copy-size;
	line-height: $large-copy-lh;
	border-bottom: 1px solid $light-grey-text;
	border-radius: 0px;

}

.alert {
	border-radius: 0;
	font-family: $sans-serif;
	text-align: center;
}

.alert-warning {
	background-color: $frame-yellow;
	color: $text-black;
}

/*hubspot forms */
.hbspt-form label,
.hs-form-required {
	display: none;
}

.home-emember .hs_email,
.home-emember .input,
.home-emember .hs_submit {
 	display: inline-block;
 }

 .hbspt-form {
 	
 	input {
 		border-radius: 0;
 	}

  ul {
 		padding: 0;
 	}

 	li {
 		list-style: none;
 	}
}

 .about-hs {
		
	 .hbspt-form label{
			display: inline;
			font-family: $sans-serif;
			font-size: 16pt; 	
	 }
	 .hs-field-desc {
	 	display: block;
    font-style: italic;
    font-size: 13pt;
    margin-top: 0.5em;
    width: 65%;
    color: $dark-grey-text;
	 }
	 input {
	 	margin-top: 0.8em;
	 	padding-left: 0.5em;
	 	padding-top: 6px;
	 }
	 input[type="text"],
	 input[type="email"] {
	 	border-bottom: 1px solid $dark-grey-text;
	 	color: $dark-grey-text;
	 	font-size: 16pt;
	 }
	 input[type="text"] {
	   width: 65%;
	 }
	 input[type="email"]{
		width: 75%;
	 }
 	 input[type="checkbox"]{
		margin-right: 10px;
		margin-top: auto;
    margin-bottom: auto;
	 }
	 input[id^=city],
	 input[id^=state],
	 input[id^=country] {
	 	width: 90%;
	 }
	 .hs-form-field {
	 	margin-bottom: 1.8em;
	 }

	 textarea {
	 	width: 65%;
	 	height: 12em;
	 	margin-top: 1em;
	 }

	 .hs-form-booleancheckbox label {
	 	display: flex;
    align-items: center;
    margin-top: 1.8em;
    margin-bottom: 3.8em;

    span {
    	font-size: 13pt;
    	line-height: 19pt;
    }
	 }
	 .submitted-message {
	 	transition: all 0.2s ease-in-out;
	 	padding-top: 2em;
    padding-bottom: 2em;
    background-color: #eee;
    text-align: center;
    font-family: $sans-serif;
	 }
 }

.single-event {
	.about-hs {
		padding-top: 4em;
    padding-bottom: 2em;
	}
	input[type="submit"]{
		width: 75%;
	}
}













