// Colors
$brand-primary:         #00afec; // deep cyan
$frame-black:						#0A0A0A;
$text-black:						#0A0A0A;
$buttons-black:					#0A0A0A;

$dark-grey-text:        #787878;
$light-grey-text: 			#CCCCCC;
$lightest-grey:					#EEEEEE;
$grey-buttons: 					#F2F2F2;


$frame-white:						#FFFFFF;
$text-white:						#FFFFFF;
$buttons-white:					#FFFFFF;

$frame-yellow:					#FFF199;
$frame-blue:						#DFEEF5;

$donate-green: 					#75c570;


// Fonts
$body-font: 						"Lyon Text Web", serif;
$title-ff: 							"StanleyRegular", serif;
$button-font:						"Graphik LC Web", sans-serif;
$sans-serif:						"Graphik LC Web", sans-serif;
$primary-nav:						"Graphik Web", sans-serif;
$non-fiction:           "Euclid Flex", sans-serif;


// Font sizes
$title-size: 						46pt;			// 60pt
$title-lh: 							46pt;			// 60pt
$subhead-size: 					25pt;			// 32pt
$subhead-lh: 						30pt;     // 40pt
$large-copy-size: 			18pt;     // 24pt
$large-copy-lh: 				23pt;     // 30pt
$regular-copy-size: 		14pt;     // 18pt
$regular-copy-lh: 			18pt;     // 24pt
$body-copy-lh:          20pt;
$small-copy-size: 			13pt;     // 16pt
$small-copy-lh: 				15pt;     // 20pt
$section-label-size: 		13pt;     // 16pt
$section-label-lh: 			13pt;     // 16pt

@mixin a-black-link() {
	a {
		color: $text-black;

		&:hover,
		&:focus,
		&:active {
			color: lighten($text-black, 40%);
			fill: lighten($text-black, 40%);
		}
	}
	a svg {
		fill: $text-black;

		&:hover,
		&:focus,
		&:active {
			fill: lighten($text-black, 40%);
		}
	}
}



@mixin a-dark-grey-link() {
	a {	
		color: $dark-grey-text;

	  &:hover,
	  &:active,
	  &:focus {
			color: $text-black;
	  }
	}
}

@mixin a-white-link() {
	a {	
		color: $text-white;

	  &:hover,
	  &:active,
	  &:focus {
			color: darken($text-white, 30%);
			fill: darken($text-white, 30%);
	  }
	}
}

@mixin a-link-grey-on-black() {
	a {	
		color: $dark-grey-text;

	  &:hover,
	  &:active,
	  &:focus {
			color: lighten($text-white, 30%);
			fill: lighten($text-white, 30%);
	  }
	}
}

 /*  layout grid */ 


 /* designs call for a 'margin' gutter, bs uses padding */

@mixin z-padding-lr() {
	padding-left: 0px;
	padding-right: 0px;
}

@mixin z-margin-lr() {
	margin-left: 0px;
	margin-right: 0px;	
}

@mixin a-margin-lr() {
	margin-left: 10px;
	margin-right: 10px;
}
@mixin a-padding-lr() {
	padding-left: 10px;
	padding-right: 10px;
}


@mixin split($width) {
	height: 0px;
	width: $width;
	border-bottom: 1px solid $text-black;
}
