#subtitle-metabox {
  margin-top: 10px;
}

#subtitle-metabox .inside label,
#subtitle-metabox .handlediv,
#subtitle-metabox .inside br {
	display: none;
}

#subtitle-metabox h2.hndle.ui-sortable-handle {
	border-bottom: none;
}


/* Word Factory admin menu icon */

#adminmenu #menu-posts .dashicons-admin-post:before,
#adminmenu #menu-posts .dashicons-format-standard:before{
    content: '\f115';
}