.baffler-about,
.page {
	.page-header {
		order: 2;
	}
	.image-col {
		order: 3;

    margin-top: 2em;
    margin-bottom: 3em;
    img {
    	width: 80%;
	    margin-left: auto;
    	margin-right: auto;
    	display: inherit;
    }
	}
	.about-body {
		margin-bottom: 4em;
		order: 4;
	}
	.sidebar {
		
		order: 1;

		.sticky {
		  position: absolute;
		  z-index: 1000;
		  
		}
		.sticky.is-sticky {
			position: fixed;
			top: 0px;
		}
		.widget {
			margin-top: 40px;
		}
	}
	.parasectionhed {
		font-family: $title-ff;
		font-size: $subhead-size;
		line-height: $subhead-lh;
		margin-top: 0.8em;
		margin-bottom: 0.4em;
	}

	.widget_nav_menu {
		width: 102vw;
    margin-left: -35px;
    background-color: $lightest-grey;

		.about-menu {
			font-size: $regular-copy-size;
			line-height: $regular-copy-lh;
			margin-top: auto;
    	margin-bottom: auto;
		}
		.menu {
			list-style: none;
    	padding: 0;
    	@include a-black-link();
    	height: 60em;
    	padding-left: 13%;
    	padding-top: 2.5em;
    	font-family: $sans-serif;

    	li {
    		width: 45%;
    		display: inline-block;
    		margin-bottom: 1.5em
    	}
		}
		.sub-plus {
			width: 22.5px;
			height: 22.5px;
			display: inline;
	    transform: rotate(45deg);
	    transition: 300ms linear all;
		}
		.collapsed {
			.sub-plus {
	    	transform: rotate(0deg);
	    	transition: 300ms linear all;
			}

		}

		.menu-controls {
			flex-direction: row;
			display: flex;
    	align-items: center;
    	padding-left: 13%;
    	padding-right: 10%;
		}

		.about-menu {
			display: inline-block;
			width: 60%;
			order: 1;
			margin-left: 0;
			margin-right: auto;
		}
		.navbar-toggler{
			display: inline-block;
			margin-right: 5%;
			margin-left: auto;
			order: 2;
		}
	}

}

.baffler-about .page-header {
	margin-top: 6em;
}

.donate {
	.about-body {
		margin-left: auto;
		margin-right: auto;
	  padding-right: 10px;
	  margin-top: 2em;
  }
  .donate-box {
  	background-color: $lightest-grey;
  	margin-top: 2em;
    margin-bottom: 2em;
		padding: 20px;

    .hed,
    .subhed,
    .donate-amount {
    	text-align: center;
    }
    .hed {
    	margin-bottom: 0.5em;
    }
    .subhed {
    	color: $dark-grey-text;
    	font-style: italic;
    	margin-bottom: 1.5em;
    }
    input[name=amount] {
    	display: block;
    	margin-left: auto;
	    margin-right: auto;
	    width: 80%;
	    padding: 10px;
	    border-bottom: 1px solid;
	    font-family: "Graphik LC Web", sans-serif;
	    letter-spacing: 3px;
    }
    .donate-amount {
    	margin-top: 1.5em;
    }
  }
  .donate-btn,
  .action {
  	width: 80%;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
		margin-bottom: 0.7em;
		
  	.btn {
  		width: 100%;
			&:hover,
			&focus,
			&:active{
				color: $text-black;
				background-color: white;
			}
  	}
  }
	.action {
		margin-top: 0.5em;
		.donate {
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}

}


@include media-breakpoint-up(sm) {
	.baffler-about {
		.widget_nav_menu {
			margin-left: -55px;
		}
	}
}




@include media-breakpoint-up(md) {
	.baffler-about,
	.page {
		.page-header {
			margin-top: 2em;
			margin-right: 25%;
		}
		.about-body {
			padding-right: 40px;
		}
		.about-hs {
			margin-top: 4em;
		}
		.sidebar {
			order: 5;
			background-color: $lightest-grey;
			margin-top: -12em;
		/*	padding-top: 12em;*/

		.sticky {
			top: 90px;
		}

			.sticky.is-sticky {
		    width: initial;
		    margin-right: 40px;
		    top: 90px;
			}
		}
		.widget_nav_menu {
			flex-direction: column;
			width: 100%;
			margin-left: 0;
			background-color: initial;

			.about-menu {
				width: 100%;
				font-size: $subhead-size;
				line-height: $subhead-lh;
			}
			.menu-controls {
				width: 100%;
				padding: 0;
			}
			.menu{
				padding-left: 0;
				height: initial;
				padding-bottom: 4em;

				li {
					width: 100%;
					margin-bottom: 0.6em;
				}
			}
		}
		.image-col {
			margin-top: -1.3em;
			margin-bottom: 17em; /*  giant margin to ensure about pages have a minimum height */	
		}
	}

	.page {
		.page-header .heading {
			margin-right: -25%;
		}
	}
	.baffler-about {
		.page-header .heading {
			margin-right: 25%;
		}
	}

	.donate {
		.donate-btn {
			width: 23%;
	    display: inline-block;
		}
		.donate-wrap,
		.action-wrap {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
		.donate-box input[name=amount] {
			width: 80%;
			display: inline;
			padding-bottom: 0px;
		}
		.action {
			width: 28%;
	    display: inline-block;
	    margin-right: 0;
	    margin-bottom: 0;
	    margin-top: 0;
	    margin-left: 7px;
	    	
		}
	}

}


@include media-breakpoint-up(lg) {

	.donate {


		
	}


}





