.single-book {
	.image-col {
		margin-bottom: 2em;
		.btn {
			margin-top: 2em;
    	width: 100%;
		}
	}
	.book-body {
		margin-bottom: 4em;
	}
	.single-email .break {
		display: none;
	}
}







@media only screen and (min-width: 400px) {

	.single-book {
		.image-col {
			img, .btn {
				width: 80%;
				margin-left: auto;
				margin-right: auto;
				display: block;
			}
		}
	}	

}


@include media-breakpoint-up(sm) {

	.single-book {
		.image-col {
			img, .btn {
				width: 60%;
			}
		}
	}	

}


@include media-breakpoint-up(md) {

	.single-book {
		.image-col {
			margin-top: -25px;
			margin-bottom: 4em;
			
			img, .btn {
				width: 100%;
			}
		}
		.page-header,
		.book-body {
			padding-left: 30px;
		}
		.book-body {
			padding-top: 20px;
		}

	}	

}