.donate {

	/* bizarre fix for issue introduced by bold commerce shortcode */

	#primaryNav {
		height: inherit !important;
	}


  .animation-canvas {
    width: 100%;
  }

	.theater div {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		float: left;
	}

	.theater {
	  width: 100%;
	  max-width: 1000px;
	  background-color: whitesmoke;
	  float: none;
	  margin: 0 auto;  
	  overflow: hidden;
	}

	.center-wrapper {
	  width: 80%;
		height: 900px;
	}

	.left {
		width: 10%;
	  min-width: 9px;
		height: 900px;
		display: inline-block;
		z-index: 5;
		position: relative;
		background-image: url(../images/left-bg.png);
	  background-size: cover;
	}

	.right {
		width: 10%;
	  min-width: 9px;
		height: 900px;
		display: inline-block;
		z-index: 5;
		position: relative;
		background-image: url(../images/left-bg.png);
	  background-size: cover;
	}

	.center-buck {
	  width: 100%;
		height: 400px;
		display: inline-block;
	}

	.pass-headline {
		width: 80%;
	}

	.center-buck:before {
		content: 'pass the buck';
		text-transform: uppercase;
	  position: absolute;
	  font-size: 8vw;
	  text-align: center;
	  line-height: 24pt;
	  font-weight: 600;
	  left: 50%;
	  -webkit-transform: translate(-50%, -50%);
	          transform: translate(-50%, -50%);
	  font-family: 'Graphik LC Web', sans-serif;
	}

	.center-bird {
	  width: 100%;
	  position: relative;
		height: 600px;
		display: inline-block;
	}

	.center-bird:before { /* Headline at top of theater */
		content: 'give us your dead presidents';
		position: absolute;
		font-family: 'Graphik LC Web', sans-serif;
	  top: 8%;
	  width: 100%;
	  font-size: 5.5vw;
	  text-transform: uppercase;
	  text-align: center;
	  font-weight: 600;
	}

	.bird-hand {
		background-image: url(../images/birdhand.png);
	  background-repeat: no-repeat;
	  position: absolute;
	  float: none;	
	  display: block;
	  height: 30%;
	  width: 100%;
	  background-size: contain;
	  top: 64%;
		-webkit-animation-name: animatedBirdHand;
		        animation-name: animatedBirdHand;
	 	-webkit-animation-duration: 5s;
	 	        animation-duration: 5s;
	 	left: 54%;
	}

	.bird-flying {	
		background-image: url(../images/birddrop.png);
	  background-repeat: no-repeat;
	  position: absolute;
	  float: none;	
	  display: block;
	  height: 71%;
	  width: 100%;
	  background-size: contain;
	  top: -39%;
	  left: 7%;
		-webkit-animation-name: animatedBird;
		        animation-name: animatedBird;
		-webkit-animation-duration: 9s;
		        animation-duration: 9s;
	}

	.bird-flying:before { /* speech bubble body */
		content: 'PLEASE';
		visibility: hidden;
	  color: white;
	  font-family: 'Graphik LC Web', sans-serif;
	  font-weight: 600;
	  font-size: 1.5em;
	  letter-spacing: 1px;
	  background-color: #0089ba;
	  padding: 7%;
	  border-radius: 50%;
	  position: absolute;
	  top: -120%;
	  left: -32%;
	}

	.bird-flying.not-ie-speech:before { /* speech bubble fallback animation if no JS support */ 
	  -webkit-animation-name: animatedDonate;
	          animation-name: animatedDonate;
	  -webkit-animation-duration: 2s;
	          animation-duration: 2s;
	  -webkit-animation-iteration-count: infinite;
	          animation-iteration-count: infinite;
	  -webkit-animation-delay: 10s;
	          animation-delay: 10s;
	}

	.ie-speech-please:before { /* used if there IS JS support */
		content: 'PLEASE';
		visibility: visible;
		top: -120%;
		left: -32%;
	}

	.ie-speech-donate:before { /* used if there IS JS support */
		content: 'DONATE';
		visibility: visible;
		top: -109%;
	  left: -26%;
	}

	.bird-flying:after { /* speech bubble tail */
		content: '';
		visibility: hidden;
		height: 0px;
		width: 0px;
		top: -120%;
		left: -32%;
		position: absolute;
		margin-top: 16%;
    margin-left: 26%;
    border-left: 53px solid transparent;
    border-right: 0px solid transparent;
    border-top: 39px solid #0089ba;


	  -webkit-transform: skew(18deg);
	          transform: skew(18deg);
	}

	.bird-flying.not-ie-speech:after { /* used if there is no JS support */
	  -webkit-animation-name: animatedDonateTag;
	          animation-name: animatedDonateTag;
	  -webkit-animation-duration: 2s;
	          animation-duration: 2s;
	  -webkit-animation-iteration-count: infinite;
	          animation-iteration-count: infinite;
	  -webkit-animation-delay: 10s;
	          animation-delay: 10s;
	}

	.ie-speech-please:after { /* used if there IS JS support */
		top: -120%;
		left: -34%;
		visibility: visible;
	}

	.ie-speech-donate:after { /* used if there IS JS support */
		top: -109%;
	  left: -26%;
		visibility: visible;
	}

	.left-pass {
		background-image: url(../images/passleft.png);
	  background-repeat: no-repeat;
	  top: 20%;
	  position: relative;
	  -webkit-animation-name: animatedLeftHand;
	          animation-name: animatedLeftHand; 
	  -webkit-animation-duration: 6s; 
	          animation-duration: 6s;
	  -webkit-animation-iteration-count: infinite;
	          animation-iteration-count: infinite;
	  -webkit-animation-direction: alternate;
	          animation-direction: alternate;
	  z-index: 2;
	  float: none;
	  display: block;
	  height: 51%;
	  width: 100%;
	  background-size: 51%;
	}

	.dollar-pass {
		background-image: url(../images/passdollar.png);
	  background-repeat: no-repeat;
	  top: -31%;
	  left: -32%;
	  position: relative;
	  z-index: 1;
	  float: none;
	  display: block;
	  height: 51%;
	  width: 100%;
	  background-size: 51%;
	  -webkit-animation-name: animatedDollar;
	          animation-name: animatedDollar;
	  -webkit-animation-duration: 12s;
	          animation-duration: 12s;
	  -webkit-animation-iteration-count: infinite;
	          animation-iteration-count: infinite;
	}

	.right-pass {
		background-image: url(../images/passright.png);
	  background-repeat: no-repeat;
	  top: -81%;
	  position: relative;
	  -webkit-animation-name: animatedRightHand;
	          animation-name: animatedRightHand; 
	  -webkit-animation-duration: 6s; 
	          animation-duration: 6s;
	  -webkit-animation-iteration-count: infinite;
	          animation-iteration-count: infinite;
	  -webkit-animation-direction: alternate;
	          animation-direction: alternate;
	  z-index: 2;
	  float: none;
	  display: block;
	  height: 51%;
	  width: 100%;
	  background-size: 51%;
	}

	.center-donate-text {
		display: block;
		margin: 0 auto;
		float: none;
	}

}	

.da_price {
		display: none !important;
	}
	.da_field_name {
		width: 100% !important;
		max-width: 80% !important;
		display: block !important;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0.7em;
		position: relative;
		padding: 0px !important;
	}
	.da_field_name span {
		margin-left: 0;
	}
	.donation_option_div div:last-of-type .da_price {
		display: block !important;
    float: none !important;
    width: 80%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0.7em;
		margin-top: 0.7em;
		padding: 0px;
	}
	.donation_option_div {
		margin-bottom: 1.5em;

		div {
			flex-basis: 0;
    	flex-grow: 1;
  	}
	}

	.da_field_name input {
	  display:block;
	  position:absolute;
	  top:0;
	  left:0;
	  right:0;
	  bottom:0;
	  width: 100%;
	  height: 100%;
	  cursor: pointer;
	  text-align: center;
	}

	.da_field_name input[type="radio"] {
	     opacity:0.01; 
	    z-index:100;

	}
	.da_div {
		border: 0px !important;
		background-color: $lightest-grey;
		font-family: $sans-serif;
		margin-top: 2em;
		padding-bottom: 1.5em;

		.da_description {
			color: #787878;
	    font-style: italic;
	    margin-bottom: 1.5em;
	    font-size: 1.25rem;
	    text-align: center;
	    font-family: $title-ff;
		}

		.da_title {
			margin-bottom: 0.5em;
			margin-top: 0.5em;
			font-family: $title-ff;
			font-size: $subhead-size !important;
			font-weight: normal;
			text-align: center;
		}

		input.other_option_amount {
			width: 100% !important;
			border-bottom: 1px solid;
    	display: block;
	    padding: 10px;
	    font-family: "Graphik LC Web", sans-serif;
	    font-size: $regular-copy-size;
	    line-height: $regular-copy-lh;
	    letter-spacing: 3px;
		}
		.other_option_amount_label,
		.goal_bar_hide {
			display: none !important;
		}
		.da_select {
			flex-direction: row;
	    display: flex;
	    align-items: center;
	    margin-left: 1em;
    	margin-right: 1em;
		}
		.da_select span {
			font-size: $regular-copy-size;
			line-height: $regular-copy-lh;
		}
	}

	.da_field_name span {
		text-align: center;
	  width: 100%;
	  display: block;
	  position: relative;
	  top:0;
	  left:0;
	  right:0;
	  bottom:0;
	  width: 100%;
	  height: 100%;
	  margin: 0 !important;
		padding-top: 10px;
		padding-bottom: 10px;
		font-weight: normal;
    line-height: 1.25;
    font-size: $regular-copy-size;
	}

	.da_field_name input[type="radio"]:checked + span {
	  background-color: $donate-green;
	}

	.da_field_name:last-of-type {
		margin-bottom: 0em;
	}

	.btn-shopify.donate-button {
		display: none !important;
	}
	.btn-shopify.donate-button:first-of-type {
		display: block !important;
		margin-top: 1.5em;
    width: 100%;
    background-color: #e42020;
    font-weight: bold;
    padding-top: 1.2em;
    display: inline-block;
    padding-bottom: 1.2em;
    margin-bottom: 4em !important;
	}
	.btn-shopify.donate-button:first-of-type:hover {
		background-color: lighten(#e42020, 20%);
	}




/* media queries */

@include media-breakpoint-up(sm) {
	.donate {
		.bird-flying:before{
			font-size: 2em;
		}
		.bird-flying:after {
	    margin-top: 16%;
	    margin-left: 26%;
	    border-left: 32px solid transparent;
	    border-top: 55px solid #0089ba;
		}
		.center-bird:before{
			line-height: 26pt;
		}
		.center-buck:before {
			line-height: 36pt;	
		} 
	}
}

@include media-breakpoint-up(md) {
	.donate {
		.bird-flying:before{
			font-size: 2.5em;
		}
		.center-bird:before{
			line-height: 32pt;
		}
		.center-buck:before {
			line-height: 46pt;	
		} 
	}
}

@include media-breakpoint-up(lg) {
	.donate {
		.center-bird:before{
			line-height: 42pt;
    	top: 4%;
		}
		.center-buck:before {
			font-size: 4em;	
		} 
	}
	.donation_option_div {
		display: flex;
		flex-wrap: wrap;
		position: relative;
	}
	.donation_option_div > div {
		flex: 0 0 33%;
	}
	.da_field_name {
		max-width: 95% !important;
	}
	.da_div input.other_option_amount {
    width: 97% !important;
    position: absolute;
    right: 2%;
	}
	.payment_type_div {
	  transition: all 0.5s ease;
	}
	.payment_type_div.expanded {
		margin-top: 3em;
	}
	.btn-shopify.donate-button:first-of-type {
    max-width: 450px;
    margin-left: auto !important;
    margin-right: auto !important;
	}
}

@include media-breakpoint-up(xl) {
	.donate {
		.bird-flying:before{
			padding: 6%;
		}
		.bird-flying:after {
			margin-top: 12%;
	    margin-left: 23%;
	    border-left: 52px solid transparent;
	    border-top: 60px solid #0089ba;
		}
		.center-bird:before{
			font-size: 5.5vw;
		}
		.bird-hand {
			left: 64%;
		}
	}
}


@media only screen and (min-width : 1400px) { 
	/* Expand theater and headline on giant screen */
	.donate {

		.theater {
			max-width: 1175px;
		}
		.center-bird:before {
			font-size: 4em;
			line-height: 53pt;
			top: 4%;
		}
		.bird-hand {
			top: 63%;
		}
	}
}



