input::-webkit-input-placeholder {
color: $text-black !important;
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: $text-black !important;  
}
 
input:-ms-input-placeholder {  
color: $text-black !important;  
}

textarea:focus, input:focus {
    color: $text-black;
}

input, select, textarea{
    color: $text-black;
}

.hs-input {
	font-family: $body-font;
}

.hs-error-msgs {
	display: none !important;
}

.hs-button {
	font-family: $button-font;
	padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}

.home-emember,
.single-email,
.blog-emember {

	.hed {
		order: 1;

		h3 {
			font-size: $large-copy-size;
			line-height: $large-copy-lh;
			border-bottom: 1px solid $text-black;
	    padding-bottom: 21px;
	    display: inline-block;
		}
	}

	.einput {
		order: 2;
		box-sizing: content-box;

		.input {
	    width: 95%;
		}
		
		.hs-input {
			border: 0px;
			border-bottom: 1px $dark-grey-text solid;
			background-color: $grey-buttons;
			height: 40px;
	    padding-left: 8px;
	    width: 100%
		}
		.hs-button {
			height: 37px;
			font-size: $small-copy-size;
	    border-bottom: 1px solid $light-grey-text;
	    line-height: 25pt;
      &:hover,
		  &:active,
		  &:focus {
	    	border-bottom: 1px $dark-grey-text solid;
	    }
		}
	}

	.copy {
		order: 3;
		padding-right: 0px;
	}

}

.blog-emember {
	.einput {
		.hs-button {
      &:hover,
		  &:active,
		  &:focus {
	    	border-bottom: 1px white solid;
	    }
		}
	}
}

@include media-breakpoint-up(md) {
	.home-emember,
	.single-email,
	.blog {
		.hed {
			order: 1;
			margin-bottom: 1.3em;
		}
		.copy {
			order: 2;
		}
		.einput {
			order: 3;

			.hs_email {
				width: 78%;
			}
		}
	}
}


@include media-breakpoint-up(lg) { 

	.home-emember,
	.single-email,
	.blog-emember  {
		.hed {
			padding-right: 0px;	
		}

		.einput {
			order: 3;

			.hs-form-field {
				width: 70%;
				padding-right: 20px;
			}
			.hs_email {
				width: 60%;
			}
		}

		.einput,
		.einput .input,
		.einput .hs-input {
			width: 100%;	
		}

		.copy {
			order: 2;
		}

	}

}

@include media-breakpoint-up(xl) { 
	.home-emember,
	.single-email {
		.hed {
			max-width: 18%;
    	flex: 0 0 18%;
    	padding-left: 0px;

    	h3 {
    		line-height: 14pt; //override variable to line up with copy box
    	}
		}

		.copy h5 {
			font-size: $regular-copy-size;
			line-height: $regular-copy-lh;
			color: $dark-grey-text;
		}

		.einput {
			padding-left: 20px;
		}

	}
}



@include media-breakpoint-down(sm) {
	.home-emember,
	.single-email {
		.hed {
			text-align: center;
		}
		.hed h3 {
			border: none;
			font-size: $subhead-lh; /* Yep, I know this is LH in a size setting */
			line-height: $subhead-lh;
		}
		.einput,
		.copy {
			padding-left: 0px;
		}
		.copy {
			margin-top: 1em;
		}

		.hbspt-form {
			width: 98%;

			.hs_email {
				display: block;
		    margin-bottom: 1em;
		    box-sizing: border-box;
			}
			.input {
				width: 100%;
			}
			.hs_submit {
				display: block;
				box-sizing: border-box;
			}
			.hs-button {
				width: 100%;
	    	padding: 0px;
			}
		}

		.break {
	    order: 4;
    	margin-top: 2em;
    	padding-left: 0;
    	padding-right: 7px;
		}

		.split {
			border-bottom: 1px solid $text-black;
		}

		
	}

}