.post-type-archive-event {

	.past-break {
		width: 100%;
		border-bottom: 1px solid $text-black;
		margin-left: 8.33333%;
		margin-top: 1em;
    margin-bottom: 1em;
	}
	
	.type-event {
		margin-top: 1.4em;
	  @include z-padding-lr();
	  text-align: center;

	  .row {
	    @include z-margin-lr();
	  }

	  .image-fill {
	    height: 15em;
	  }
	  .hed {
	    @include a-black-link();
	    margin-top: 0.4em;
	    margin-bottom: 0.6em;
	  }
	  .details {
	  	margin-bottom: 2em;
	  }
	  .city {
	    @include a-dark-grey-link();
	    color: $dark-grey-text;
	  }
	  .date {
	  	color: $light-grey-text;
	  }
	}

	.posts-navigation {
		margin-left: 8.333333333333%;
	}

}

@media only screen and (min-width: 440px) {

	.post-type-archive-event {
		.page-wrap {
			margin-left: 30px;
			margin-right: 30px;
		}
	}


}


@include media-breakpoint-up(sm) {

	.post-type-archive-event {
		.page-wrap {
			margin-left: 10px;
			margin-right: 10px;
		}
	}

}


@include media-breakpoint-up(md) {

	.post-type-archive-event {

		.page-header {
			padding-left: 0;
		}

		.posts-navigation {
			margin-left: 8.333333333333%;
		}		
	
		.type-event {
			margin-bottom: 1.4em;

		  .image-fill {
		   	 height: 10em;
		  }
		}

		.meta {
			text-align: left;
			padding-left: 20px;

			.hed {
				margin-top: 0;
			}
		}


	}



}



@include media-breakpoint-up(lg) {

	.post-type-archive-event {

		.type-event {
			.date-left {
				text-align: left;
				color: $dark-grey-text;
				padding-left: 0;
			}
			.image-fill {
				height: 12em;
			}
		}


	}
}

@include media-breakpoint-up(xl) {

	.post-type-archive-event {

		.type-event {
			.image-fill {
				height: 14em;
			}
			.meta {
		    display: flex;
		    flex-direction: column;
	  	  justify-content: space-between;
			}
			.excerpt {
				margin-bottom: 0;
			}

		}
	


	}
}

















