.footer-frame {
	padding-bottom: 40px;
	padding-top: 3em;
	padding-left: 10px;
	padding-right: 10px;
	@include a-black-link();
}

.salvos .footer-contain,
.outbursts .footer-contain,
.odds-and-ends .footer-contain,
.oldie .footer-contain {
	@include a-white-link();
	color: $text-white;
	
	svg {
		fill: $text-white;
	}

 .logo-menu .copy {
		@include a-white-link();
		color: $text-white;
	}

}

.footer-contain {
	@include z-padding-lr();
	@include z-margin-lr();

	.logo-menu {
		padding-right: 0px;
		display: flex;
    flex-direction: column;
    justify-content: space-between;

		.menu-footer-container {
			height: 100%;
		}

		.copy {
	    display: flex;
	    justify-content: space-around;
	    align-items: flex-end;
	    font-family: $sans-serif;
	    font-size: $small-copy-size;
	    @include a-dark-grey-link();
	    margin-left: 0;
	    margin-right: 10px;
		}

		.copyright {
			display: flex;
    	align-items: flex-end;
    	width: 45%;
	    height: 100%;
	    margin-left: 0;
	    @include z-padding-lr();
		}

		.date {
	    margin-left: -3px;
	    margin-bottom: 2px;
	    margin-right: 8px;
	    line-height: 16pt;
		}
		


		.nav {
			flex-direction: column;
			height: 100%;
	    display: flex;
	    justify-content: space-between;
		}

	}

  .wide-logo {
  	width: 100%;
  	border-bottom: 1px solid $text-black;
  	padding-bottom: 2em;
    padding-left: 5px;
    margin-bottom: 0.5em;
  }

  .merch {
  	.widget {
  		display: flex;
  	}
  	.widget_text h3 {
			order: 2;
  	}
  	.widget:nth-of-type(1) {
  		margin-bottom: 0.25em;
  	}
  	.widget:nth-of-type(2) {
  		margin-top: 0.25em;
  	}
  	.description {
  		@include a-dark-grey-link();
  	}
  	.cover-image {
  		margin-right: 1.5em;
  		min-width: 100px;
  	}
  }

  .social {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: space-between;

    .facebook,
    .twitter {
    	margin-right: 0px;
    	margin-left: auto;
    }
  }
  
  .icons {
  	display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 auto;
  }

  .credits {
  	display: none;
	}


}

@include media-breakpoint-up(md) {
	.footer-frame {
		padding: 40px;
		padding-top: 3em;
		/*height: 12em;*/
	}
	.footer-contain {
		.credits {
			visibility: hidden;
			display: inline-block;
		}
		.logo-menu {
			.copy {
					padding-left: -10px;
					padding-right: -10px;
				}
			.menu {
				padding-left: 2em;
				height: 100%;
		    margin-left: 0;
		    margin-right: auto;
			}
		}
	}
	.salvos .footer-contain,
	.outbursts .footer-contain,
	.odds-and-ends .footer-contain {
	  .wide-logo {
  		border-bottom: 1px solid $text-white;
		}
	}
}

@include media-breakpoint-up(lg) {
	.footer-frame {
		.footer-contain {
			.copyright {
	    	width: 33%;
			}
			.credits {
				visibility: visible;
			}
		}
	}
}


@include media-breakpoint-up(xl) { 
	.footer-frame .footer-contain {
		margin-left: auto;
		margin-right: auto;
	}
}


@include media-breakpoint-down(sm) {
	.footer-contain {
		padding-bottom: 2em;

		.logo-menu .copy {
			@include a-black-link();
		}

		.social {
			/*align-items: flex-end;*/
	    flex-wrap: wrap;
	    flex-direction: row;
	    padding: 0.5em;
	    margin-top: 2em;

		}

		.corner-logo {
			margin-left: 0;
    	margin-right: auto;
		}

		.icons {
			margin-right: 0;
			margin-left: auto;
		}

		.menu {
			@include z-padding-lr();

			.static-copy {
				color: $dark-grey-text;
			}

			.nav {
				flex-direction: row;
				flex-wrap: wrap;
				border-top: 1px solid $text-black;

				li {
					width: 48%;
					margin-bottom: 0;
					margin-top: 1em;
				}
			}
		}
	}
	.salvos .footer-contain,
	.outbursts .footer-contain,
	.odds-and-ends .footer-contain {
		.menu .nav {
			border-top: 1px solid $text-white;
		}
	}
}


@include media-breakpoint-down(xs) {

	.footer-contain {
			padding-left: 1em;
			padding-right: 1em;
			max-width: 400px;
			margin-left: auto;
			margin-right: auto;

		
		.logo-menu,
		.social {
				
			}
	}

}







