.image-fill {
	background-size: cover;
	background-position-y: 50%; 
	
	.full-coverage {
		display: block;
		height: 100%;
		width: 100%;
	}
}

.big-story {
	@include z-margin-lr();

	.lede-image {
	  height: 65vh;
	  min-height: 580px;
	  max-height: 675px;
	}

	.text-bucket {
		text-align: center;
		display: flex;
	  flex-direction: column;
	  justify-content: space-between;
	  font-size: $subhead-size;
		line-height: $subhead-lh;
		font-family: $body-font;
    font-weight: 400;
    padding-left: 0.7em;
    padding-right: .5em;
		
		@include a-dark-grey-link();
	}
	

	.hed {
		font-size: 38pt;
		line-height: 38pt;
		@include a-black-link();
    margin-top: 0.4em;
    margin-bottom: 0.7em;
	}

	.author {
    margin-top: 6.3333333333%;
	}

	.subhed {
		padding-bottom: 8.3333333333%;
		border-bottom: 1px solid $text-black;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0px;
		font-style: italic;
	}

}

.top-rollout {
	margin-top: 3.5em;
	@include z-margin-lr();
	@include z-padding-lr();

	.story {
		display: flex;
		@include z-padding-lr();
		@include z-margin-lr();
	}

	.hed {
		font-size: $large-copy-size;
		line-height: $large-copy-lh;
		font-size: 14pt;
		line-height: 17pt;
		@include a-black-link();
		padding-right: 5px;
	}

	.author {
		color: $dark-grey-text;
		font-size: $regular-copy-size;
		line-height: $regular-copy-lh;
		font-size: 13pt;
		@include a-dark-grey-link();
	}


}


.home-emember {
	margin-top: 3.5em;
	@include z-margin-lr();
}




.columns-n-mag {
	@include z-margin-lr();
	margin-top: 2.5em;

	.split:nth-of-type(3n){
		visibility: hidden;
		display: none;
	}

	.column-box {
		display: flex;
		text-align: center;
	  justify-content: space-around;
	  flex-direction: column;
	  padding-top: 5%;
	  padding-bottom: 5%;
	  margin-bottom: 2em;
		font-family: $sans-serif;	

		.title {
			text-transform: uppercase;
    	font-size: $small-copy-size;
    	letter-spacing: .04px; 	
    	@include a-dark-grey-link();
		}
		.hed, .author {
			@include a-black-link();
		}

		.hed {
			font-size: $subhead-size;
			line-height: $subhead-lh;
			font-family: $sans-serif;
		}

		.split {
			@include split(24px)
			margin-left: 0;
			margin-right: auto;
			margin-left: auto;
		}


	} /* end column box */

	.mag-box {
		.shading {
			background-color: $grey-buttons;
			padding-top: 1.5em;
		}

		.title {
			margin-bottom: 0.4em;
			font-size: $subhead-size;
		}

		.issue {
			font-size: $regular-copy-size;
			font-style: italic;
			color: $dark-grey-text;
			margin-bottom: 1em;
		}

		.story-wrap {
			@include z-margin-lr();
			@include a-dark-grey-link();

			.copy {
			  display: flex;
			  flex-direction: column;
			  justify-content: space-between;
			}

			.hed {
				font-size: $large-copy-size;
				line-height: $large-copy-lh;
				@include a-black-link();
			}

			.author {
				font-size: $regular-copy-size;
				line-height: $regular-copy-lh;
				color: $dark-grey-text;
			}

			.subhed {
				font-size: $small-copy-size;
				line-height: $small-copy-lh;
				font-style: italic;
			}
			
			.split {
				@include split(35px);
				margin-left: 0px;
				margin-right: auto;
			}

		}


		.cover-wrap {
			padding-right: 0px;
		}

		.cover {
		  @include z-margin-lr();
		  display: block;
		}
		.sub-calls {
			margin-top: 20px;
			margin-bottom: 20px;

			.btn {
				display: block;
				width: 66.6666666667%;
				margin-right: auto;
				margin-bottom: 20px;
				&:hover,
				&focus,
				&:active{
					color: $text-black;
					background-color: white;
				}
			}
		}
	}

} /* end columns-n-mag */



/* Eye Appeal  */

.reveal {
	position: relative;
  background-color: white;
  color: $dark-grey-text;
  padding: 1em .5em;
  transform: translateY(30%);
  transition-timing-function: ease-in;
  transition: 0.35s;
}

.reveal.card-up {
  /* A litttttle slower on the way in */
  transition: 0.55s;
  transition-timing-function: ease-out;
  transform: translateY(0);      
}

.low-rollout {
	height: 400px;
	margin-top: 2.5em;
	display: flex;

	.wide-image {
		overflow: hidden;
		position: relative;
		display: flex;
		flex-direction: column;
		height: 100%;

		.image-fill {
			height: 100%;
			margin-left: 10px;
			margin-right: 10px;
			flex: 1 0 auto;
		}
	}
		
 /* reveal was here */
  
  .hed {
  	@include a-black-link();
		font-size: $subhead-size;
		line-height: $subhead-lh;
  }
  
  .author, .date {
		font-size: $regular-copy-size;
		line-height: $regular-copy-lh;
  }
  
  .author {
  	@include a-dark-grey-link();
  }
  
  .date {
  	color: $light-grey-text;
  	font-style: italic;
  }
	
	.with-summary {
		overflow: hidden;
		display: flex;
	  flex-direction: column;
	  justify-content: space-between;

		.meta {
			padding-right: 0px;
			padding-left: 20px;
	    display: flex;
	    flex-direction: column;
	    justify-content: space-between;
		}

		.hed {
			@include a-black-link();
			font-size: $regular-copy-size;
			line-height: $regular-copy-lh;
		}

		.author {
			@include a-dark-grey-link();
			color: $dark-grey-text;
		}

		.author, .excerpt {
			font-size: $small-copy-size;
			line-height: $small-copy-lh;
		}

		.home-card {
			height: 10em;
			overflow: hidden;
			margin-right: 0px;
			padding-right: 10px;

		}
	}

}

/*
 * Box of four topics
 */

.four-topic-wrap {
	@include a-margin-lr();

	.visibility-must {
		visibility: visible !important;
		display: block !important;
	}
	

	.poetry,
	.more {
		margin-top: .5em;
	}
	.cap {
		border-bottom: 1px $text-black solid;
		font-size: $subhead-size;
		line-height: $subhead-lh;
    line-height: 1.7em;
    margin-bottom: 1em;
    margin-top: 2em;
	}
	.read-on {
		margin-top: 1.2em
	}
	.btn {
		width: 100%;
		font-size: 1.0em;
		font-family: $button-font;
	}
	.split {
		@include split(35px);
		margin-right: auto;
		margin-left: 0px;
		margin-top: 1em;
    margin-bottom: 2em;
    &:nth-of-type(2n) {
			visibility: hidden;
			display: none;
		}
	}
	.summary-wrap ,
	.inner-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	}

	.inner-wrap {
		flex: 1 0 505px;
	}



	.home-card {
		@include z-margin-lr();
		flex: 1 0 40%;
		overflow: hidden;
		padding-right: 15%;

		.hed {
			@include a-black-link();
			font-size: $large-copy-size;
			line-height: $large-copy-lh;
		}	

		.author {
			@include a-dark-grey-link();
			color: $dark-grey-text;
			font-size: $regular-copy-size;
			line-height: $regular-copy-lh;
		}

		.excerpt {
			font-size: $small-copy-size;
			line-height: $small-copy-lh;
			padding-top: .5em;
		}
	}

	.poetry {
		.home-card {
			.hed, .author, .excerpt {
				font-family: $sans-serif;
			}
			.excerpt {
				font-size: 12pt;
			}
		}	
	}

	/*  Carousel styling  */

	.carousel {
		width: 100%;

		.carousel-item {
			@include z-margin-lr();
		}
		.latest {
			flex-direction: column;
		}
		.carousel-control-next, .carousel-control-prev {
			width: 6.5%;
			height: 25%;
		}
		.carousel-control-next-icon {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#000' viewBox='0 0 12 16'%3E%3Cpath d='M0,0 0,16 12, 8'/%3E%3C/svg%3E");
		}
	
		.carousel-control-prev-icon {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#000' viewBox='0 0 12 16'%3E%3Cpath d='M0,8 12,16 12, 0'/%3E%3C/svg%3E");
		}

		.cap {
			margin-left: -0.7em;
			margin-right: -0.7em;
		}
		

	}



}

@include media-breakpoint-up(sm) {
	.big-story {
		.hed {
			font-size: $title-size;
			line-height: $title-lh;
		}
	}
	.top-rollout {
		.hed {
			font-size: 15pt;
			line-height: 19pt;
		}
		.author {
	    font-size: 14pt;
    	line-height: 18pt;
		}
	}
}

@include media-breakpoint-up(md) { 
	.big-story .subhed {
		width: percentage(2/3);
	}
	.mag-box {
		padding-left: 0px;
		padding-right: 0px;
		.copy {
			padding-left: 20px;
		}
	}
	.columns-n-mag .column-box {
		margin-bottom: 20px;
	}
	.top-rollout {
		.image-fill {
			height: 150px;
		}
		.story:nth-of-type(3n) {
			display: none;
		}
	}
	.sub-calls input {
		margin-left: 0px;
	}
	.sub-calls #sub {
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: auto;
	}

	.home {
		.carousel-control-next,
		.carousel-control-prev {
			display: none;
		}
	}


}

@include media-breakpoint-up(lg) { 
	.top-rollout .story:nth-of-type(3n) {
		display: flex;
	}
	.four-topic-wrap {
		.home-card {
			padding-right: 25%;
		}
	}
}

@include media-breakpoint-up(xl) { 

}

@include media-breakpoint-down(lg) {
	.low-rollout {
		.wide-image {
			margin-left: 0px;
	    margin-right: 0px;
     	.image-fill {
				margin-left: 0px;
      }
		}

		.with-summary {
			padding-left: 10px;
			padding-right: 0px;
			margin-left: 0px;
			margin-right: 0px;
		}
	}
}

@include media-breakpoint-down(md) {
	.four-topic-wrap {
		.home-card {
			flex: 1 0 40%;
		}
	}

}

@include media-breakpoint-down(sm) {
	.big-story {
		@include a-margin-lr();
		.lede-image {
		   min-height: 335px;
     	max-height: 50vh;
		}
	}
	
	.top-rollout {
		@include a-margin-lr();
		.story {
			margin-bottom: 2em;
		}
		.image-fill {
			height: 12em;
		}
		.text-bucket {
			padding-left: 10px;
		}
	}

	.home-emember {
		@include a-margin-lr();
		margin-top: 3em;
	}

	.columns-n-mag {
		
		.column-box {
			@include z-padding-lr();

			.hed {
				font-size: $large-copy-size;
				line-height: $large-copy-lh;
			}

			.split {
				margin-left: auto;
			}
		}

		.mag-box {
			margin-right: 0px;

			.issue {
				font-style: initial;
			}

			.story-wrap {
				display: flex;
			}
			.copy {
				order: 2;
				padding-top: 1.2em;
			}
			.cover-wrap {
				order: 1;
				@include a-padding-lr();
			}
			.cover {
		    width: 100%;
			}

			.sub-calls .btn {
				width: 100%;
			}

		} /* end mag-box */

	}

	.four-topic-wrap {

		.more, .poetry {
	    margin-top: 0;
		}
		.cap {
			margin-top: 1.4em;
		}
		.split {
			margin-top: 1em;
    	margin-bottom: 2em;
		}
		.home-card {
			padding-right: 0;
			flex: 1 0 175px;
		}
	}

}


@include media-breakpoint-down(xs) {
	.columns-n-mag {
		.mag-box {
			.story-wrap .copy,
			.sub-calls .col-10 {
				padding-left: 20px;
				padding-right: 20px;
			}
		}
	
	}
	.four-topic-wrap {
		.carousel .cap {
			margin-left: 0;
			margin-right: 0;
		}
		.home-card {
		  flex: 0 0 200px;
		}
	}
}








