.navbar-nav {
	@include a-black-link();
  .highlight a {
  	color: $brand-primary;
  }
  .highlight a:hover {
  	color: $text-black;
  }  
}

.banner .navbar-nav li {
  @extend .nav-item;
}

.banner  .navbar-nav {
	a {
  	@extend .nav-link;
	}
	.highlight a {
		color: $brand-primary;
		&:hover,
		&:focus,
		&:active {
			color: $text-black;
		}
	}
}





/* black frame views */ 
.salvos .banner .navbar,
.salvos .banner .search-wide,
.outbursts .banner .navbar,
.outbursts .banner .search-wide,
.odds-and-ends .banner .navbar,
.odds-and-ends .banner .search-wide,
.oldie .banner .navbar, 
.oldie .banner .search-wide {	
	background-color: $frame-black;

	svg {
		fill: $text-white;
	}

	.navbar-nav {
		@include a-white-link();
		
		.highlight a {
			color: $brand-primary;
			&:hover,
			&:focus,
			&:active {
				color: $text-white;
			}
		}
	}
	input {
		background-color: $text-black;
		color: $text-white;

	}
}

.poems .banner .navbar,
.poems .banner .search-wide {
	background-color: $frame-yellow;

	input {
		background-color: $frame-yellow;
	}
	.search-field {
		border-bottom: 1px solid $text-black;
	}	
}

.stories .banner .navbar,
.stories .banner .search-wide {
	background-color: $frame-blue;
	
	input {
		background-color: $frame-blue;
	}
	.search-field {
		border-bottom: 1px solid $text-black;
	}	
}

.salvos .banner,
.outbursts .banner,
.odds-and-ends .banner,
.oldie .banner {	
	input.search-field::-webkit-input-placeholder {
		color: $text-white !important;
	}
	input.search-field::-moz-placeholder { /* Firefox 19+ */
	  color: $text-white !important;
	}

	input.search-field:-ms-input-placeholder { /* IE 10+ */
	  color: $text-white !important;
	}

	input.search-field:-moz-placeholder { /* Firefox 18- */
	  color: $text-white !important;
	}
	
}




/* XS XS XS views */
.banner {

	.burger {
		display: none;
	}

	.collapsed .x-spot {
		display: none;
	}

	.collapsed .burger {
		display: block;
	}

	.navbar {
		padding: 0px;
		height: 80px;
		position: static;
		overflow: hidden;
	}
	.navbar.expanded {
			height: 100vh;
			min-height: 580px;
		}

	.nav-contain {
		height: 80vh;
		overflow: visible;
		min-height: 420px;
		padding-left: 30px;
		padding-right: 30px;
	}

	.sm-header-wrap {
		height: 100%;
		min-height: 80px;
		max-height: 80px;
    flex-direction: row;
    align-items: center;

    svg {
			transform: scale(.8);
		}
	}


	.navbar-toggler {
		cursor: pointer;
		height: 100%;
    max-height: 80px;
    z-index: 200;
    padding: 0;
		border: 0;
		position: absolute;
			&:active,
			&:focus {
				outline:0;
			}
	}

	.navbar-toggler, .logo {
    text-align: center;
	}

	.navbar-toggler svg {
		height: 100%;
		width: 100%;
		padding: 24px;
		max-width: 80px;
		max-height: 80px;
		margin-left: 8px;
	}
	.logo {
    height: 100%;
    align-items: center;
    display: flex;
	}
	.logo a {
		margin-left: auto;
    margin-right: auto;
    display: flex;
	}

	.inline-search-sm {
		display: flex;
    width: 100%;
    height: 5vh;
    /*margin-bottom: 1.5em;*/
    margin-top: 1em;
    align-items: center;

		.mag-wrap {
			width: 52px;
			margin-left: 3px;
    	display: flex;
		}

		svg {
			width: 25px;
			height: 25px;
		}
		.search-field {
	  	width: 90%;
	  	max-width: 540px;
  	}
	} 



	.navbar-nav {
		height: 90%;
    /*max-height: 65vh;*/
    max-height: 330px;
    justify-content: space-between;
  	font-size: $large-copy-size;
  	line-height: $large-copy-lh;
  	padding-left: 52px;
  	font-family: $sans-serif;
	}

}



@include media-breakpoint-up(sm) {
	.banner {

		.navbar {
			height: 100px;
		}

		.sm-header-wrap {
			min-height: 100px;

			svg {
				transform: scale(1);
			}
		}

		.navbar-toggler {
			max-height: 100px;
		}

		.navbar-nav {
			max-height: 430px;
			padding-left: 80px;
		}

		.inline-search-sm {
			.mag-wrap {
				width: 83px;
			}
			svg {
				width: 30px;
				height: 30px;
			}
		}

	}
}


@include media-breakpoint-up(md) {
	.banner {

		.navbar {
			padding: 0px;
			width: 100%;
			background-color: $text-white;
			position: fixed;
			height: 40px;
			overflow: visible;
		}

		.nav-contain {
			padding: 0;
			margin: 0;
			max-height: 40px;
			min-height: 40px;
			overflow: visible;
			display: flex;
	  	flex-direction: row;
	  	width: 100%;
		}

		.corner-logo-md {
			z-index: 10;
			margin-left: auto;
		  margin-right: 7px;
		  margin-top: 7px;
		}

		.nav-mag {
		  margin-left: 10px;
		  margin-top: 10px;
		  cursor: pointer;
		}

		.navbar-nav {
			margin-left: 4.33333333333%;
			font-family: $primary-nav;
			font-weight: 500;
			letter-spacing: 0.1px;
			-webkit-font-smoothing: antialiased;
			display: -webkit-box;
			padding-left: 0px;
			line-height: 18pt;
			font-size: 12pt;
			height: 100%;
		}

		.menu-item:first-of-type a {
			padding-right: .2em !important;
		}

		.menu-item a {
			padding: .5em .4em;
		}

		.menu-item:nth-of-type(2n) a  {
			padding-left: 1.5em;
		}

		.hidden-md-only {
			display: none;
		}

		.search-wide {
			padding: 40px;
			margin-top: 40px;
    	z-index: 1005;
    	background-color: $text-white;
  	  transition-timing-function: ease-in;
	 		transition: 0.55s; /* little slower on the way down */

			.inline-search-md {
				width: 100%;				
			}
    	.search-field {
    		font-size: $title-size;
    		line-height: $title-lh;
    		width: 90%;
    	}
    	.x-spot {
    		margin-left: 2%;
    		cursor: pointer;
    	}
		}
		.search-wide.push-up {
			transform: translateY(-100%);
		  transition: 0.35s;
  		transition-timing-function: ease-out;
		}	
	}
}




@include media-breakpoint-up(lg) { 
	.banner {
		.navbar-nav {
			margin-left: 9.33333333333%;
		}
		.navbar-nav .menu-item a {
			padding: .5em 1.2em;
		}
		.hidden-md-only {
			display: initial;
		}
	}
}


/* Dumb old phones */
@media only screen and (max-width: 340px) {
	.navbar .logo svg {
		margin-right: -30px;
	}
}







