/* XS XS Gossip Archive */

.type-issue {
	overflow: hidden;
	margin-bottom: 0;
	margin-top: 2em; 
	height: 15em;
	cursor: pointer;

	.image-fill {
		height: 15.1em;
	}
	.reveal {
    padding-bottom: 20px;
    @include a-black-link();
    background-color: $lightest-grey;
	}
	.clickable .full-coverage {
		z-index: 500; /* we need to move full-coverage link to top */
		position: relative; /* and make sure it's removed from doc flow like the reveal box is postion-relative */
	}
}

.col-12.type-issue {
	height: 18em;

	.image-fill {
		height: 18.2em;
	}
}


/* in-between for weird scale shifts */

@media only screen and (min-width: 440px) {

	.type-issue {
		height: 19em;

		.image-fill {
			height: 19.1em;
		}
	}

	.col-12.type-issue {
		height: 23em;

		.image-fill {
			height: 23.2em;
		}
	}

}

@include media-breakpoint-up(sm) {

	.type-issue {
		height: 24.4444444444444em;

		.image-fill {
			height: 24.55555555555555em;
		}
	}

	.col-12.type-issue {
		height: 30em;

		.image-fill {
			height: 30.1em;
		}
	}

}


@include media-breakpoint-up(md) {

	.type-issue {
		height: 10em;

		.image-fill {
			height: 10.1em;
		}
	}

	.col-12.type-issue {
		height: 12.5em;

		.image-fill {
			height: 12.6em;
		}
	}

}

@include media-breakpoint-up(lg) {

	.type-issue {
		height: 13.5em;

		.image-fill {
			height: 13.6em;
		}
	}

	.col-12.type-issue {
		height: 18em;

		.image-fill {
			height: 18.1em;
		}
	}

}


@include media-breakpoint-up(lg) {

	.type-issue {
		height: 18.5em;

		.image-fill {
			height: 18.6em;
		}
	}

	.col-12.type-issue {
		height: 24em;

		.image-fill {
			height: 24.1em;
		}
	}
	
}





