.page-header {
  margin-top: 2em;
  text-align: center;

  .heading {
    font-size: 36pt;
    line-height: 36pt;
    margin-bottom: 0.6em;
  }

  .split {
    @include split(24px);
    margin-bottom: 1.2em;
  }

  .subhed {
    color: $dark-grey-text;
  }
}

.page-wrap {
  @include a-margin-lr();
}

.author-stories {
  margin-bottom: 5em;
}

.posts-navigation {
  margin-top: 4em;
  font-family: $sans-serif;
  @include a-dark-grey-link();
  text-transform: capitalize;
  width: 100%;
  
  padding-left: 0.5em;
  padding-right: 0.5em;

  .nav-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-previous {
    display: inline;
  }
  .nav-next {
    display: inline;
  }
  
}

.type-post, 
.type-article,
.type-book {
  margin-top: 1.4em;
  @include z-padding-lr();

  .row {
    @include z-margin-lr();
  }

  .image-fill {
    height: 15em;
  }
  .hed {
    @include a-black-link();
    margin-top: 0.4em;
    margin-bottom: 0.6em;
  }
  .author {
    @include a-dark-grey-link();
    color: $dark-grey-text;
    margin-bottom: 0.3em;
  }
  .column-title {
    @include a-dark-grey-link();
    text-transform: uppercase;
    font-family: $sans-serif;
    letter-spacing: .25px;
    font-size: $small-copy-size;
    color: $dark-grey-text;
    margin-bottom: 0.7em;
  }
  .author, 
  .date {
    display: block;
  }
   .date {
    color: $light-grey-text;
  }
  .meta {
    text-align: center;
    @include z-padding-lr();
  }

}

.type-book {
  .book-contain {
    img {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}

.single-baffler_author {
  .bio-photo {
    margin-bottom: 2em; 

    .image-fill {
      height: 15em;
    }

  }
}

.search-wide-body {
  margin-top: 4em;
  margin-bottom: 5em;

  form {
    @include a-padding-lr();
  }
  .inline-search {
    width: 100%;
  }
}

.no-results {
  @include a-margin-lr();
  width: 100%;
}
.alert-warning {
  margin-bottom: 5em;
}


.not-found-img {
  text-align: center;
  img {
    height: 30vh;
    width: auto;
    margin-bottom: 2em;
    margin-top: 2em;
  }
}


@media only screen and (min-width: 450px) {
.single-baffler_author .bio-photo .image-fill {
    height: 20em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}


@include media-breakpoint-up(sm) {

  .page-header {
    .heading {
      font-size: $title-size;
      line-height: 53pt;
    }
  }

  .type-post, 
  .type-article,
  .type-book {
    .meta {
      text-align: left;
      padding-left: 20px;
    }
    .hed {
      margin-bottom: 1em;
      margin-top: 0;
    }
  }
  .single-baffler_author .bio-photo .image-fill {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }

  .search-wide-body {
    margin-top: 4em;
    margin-bottom: 5em;
    @include z-padding-lr();

    form {
      @include z-padding-lr();
    }
    .search-field {
      font-size: $subhead-size;
      line-height: $subhead-lh;
    }
  }

}


@include media-breakpoint-up(md) {
  .page-wrap {
    @include z-margin-lr();
  }
  .page-header {
    text-align: left;
    .split {
      @include split(35px);
      margin-left: 0;
    }
  }

  .type-post, 
  .type-article ,
  .type-book{
    margin-top: 2em; 

    .meta {
      padding-left: 10px;
    }
    .image-fill {
      height: 6em;
      flex: 0 0 35%;
    }
  }

  .posts-navigation {
    padding-left: 0;
    margin-left: 16.66666666666666667%;
    
    .nav-links a {
      padding: 10px;
      background-color: $grey-buttons;
      transition: all 0.2s ease-in-out;
      &:hover,
      &:active,
      &:focus {
        background-color: $dark-grey-text;
        color: white;
        outline: none;
      }
    }
  }
  .post-type-archive-issue .posts-navigation {
    @include a-margin-lr();
  }
  .single-baffler_author {
    .entry-row {
      @include z-padding-lr();
    }
    .bio-photo {
      padding-left: 0;

      .image-fill {
        width: 100%;
        height: 13em;
        margin-left: auto;
        margin-right: auto;
      }
    }
  } 

  .search-results,
  .search-no-results {
    .search-wide-body {
      @include a-padding-lr();
      margin-top: 2.5em;
    } 
  }

}

@include media-breakpoint-up(lg) {
  .type-post, 
  .type-article,
  .type-book {
    
    .meta {
      padding-left: 20px;
      padding-right: 10px;
    }
    .image-fill {
      height: 12em;
      flex: 0 0 45%;
    }
  }
  .single-baffler_author .bio-photo .image-fill {
    height: 17em;
  }
}


@include media-breakpoint-up(xl) {
  .single-baffler_author .bio-photo .image-fill {
    height: 20em;
  }

}







