.entry-row {
	@include z-margin-lr();
	@include a-padding-lr();

	.parasectionhed {
		font-family: $title-ff;
    font-size: $subhead-size;
    line-height: $subhead-lh;
    margin-top: 1em;
	}
}

.post {
	@include a-padding-lr();
}

.entry-content {

	.twitter-tweet {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1.5em !important;
	}

	.dropcap em {
		font-style: initial;
	}
	
	line-height: $body-copy-lh;
	display: block;		
	@include a-padding-lr();
	margin-bottom: 4em;

	p img {
		margin-top: 0.3em; /* try to get this to line up with paragraph text */
	}

	span[id^=more] {
		margin-bottom: -1em;
    display: block;
    /* fixes the gap left by a "<!--more-->" inside author bios */
	}

	figure {
		margin-bottom: 2em;
	}
	figure.alignleft {
		margin-right: 2em;
	}
	figure.alignright {
		margin-left: 2em;
	}
	img.alignright {
		margin-left: 1em;
	}
	img.alignleft {
		margin-right: 1em;
	}

	img, figure {
		max-width: 100% !important;
	}

	.wp-audio-shortcode {
		margin-bottom: 1em;
	}

	blockquote {
		font-size: $small-copy-size;
    line-height: $small-copy-lh;
    color: #787878;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
	}
	blockquote.pullquote {
    font-family: $title-ff;
    color: $text-black;
    padding-left: 0;
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 20pt;
    line-height: 24pt;
	}

	.wp-caption-text {
		@include a-dark-grey-link();
		color: $dark-grey-text;
		text-align: right;
		font-size: $small-copy-size; 
		line-height: $small-copy-lh; 
		display: flex;
    flex-direction: column;
    margin-left: 0;
    text-align: left;
    display: initial;

    .author_copyright {
	    order: 0;
	    text-align: right;
	    flex: 1 0 auto;
	    margin-bottom: 0.9em;
	    font-family: $sans-serif;
	    font-size: 12pt;
	    color: black;
	    display: block;
    }
	}

	.podcatchers {
		.btn {
			width: 100%;
		}
		.pod {
			@include z-padding-lr();
			margin-top: 0.5em;
		}
		h3 {
	    margin-top: 1.2em;
    	margin-bottom: 0.8em;
		}
	}

	.related-box {
		@include a-dark-grey-link();
		width: 13em;
		margin-left: 1.5em;

		.image-fill {
			height: 11em;
		}

		h3 {
			margin-bottom: 0.5em;
		}

		h5 {
	    margin-top: 1em;
    	margin-bottom: 2em;
		}
	}

}

.first-selection {
	font-family: $sans-serif;
	text-transform: uppercase;
  font-size: 13pt;
  letter-spacing: 0.30px;
}

/* ns as in non-salvo */
.ns-section-break {
	@include split(35px);
	margin-top: 1.5em;
	margin-bottom: 2em;
}

.author-bio-instory {
	margin-left: 20px;
	margin-right: 20px;
	font-family: $sans-serif;
	font-size: $small-copy-size; 
	line-height: $regular-copy-lh; /* yep, I know they don't match */
	padding-bottom: 1.5em;
  border-top: 1px solid $text-black;
  border-bottom: 1px solid $text-black;
  padding-top: 1em;
  @include a-dark-grey-link();
}

.icon-wrap {
	@include a-margin-lr();
	@include a-black-link();
  justify-content: space-between;
	margin-top: 1.5em;
  max-width: 700px;
}

.sharing-icon,
.read-later {
	font-size: $small-copy-size;
	font-family: $sans-serif;
}

.sharing-icon {
	padding-top: 1em;
	flex-direction: row;
	text-align: center;
	&:first-of-type{
		text-align: left;
	}
	&:last-of-type {
		text-align: right;
	}

	label {
		display: none;
	}
}
.read-later {
	@include a-margin-lr();
	position: relative;
  width: 100%;
  top: -129px;
  padding-right: 20px;
  max-width: 718px;
}
.read-later.not-displayed {
		display: none;	
}
.read-later.displayed {
    display: block;
    transform: translateY(150px);
    transition: 0.35s;
}


.reading-item {
	@include a-black-link();
	flex: 0 0 100%;

	.inner-link{
		align-items: center;
    margin-bottom: 1em;
		display: flex;
		flex-direction: row-reverse;
		

		svg {
			margin-left: 1em;
		}
		label {
			margin-bottom: 0;
		}
	}
}

.entry-enjoy {
	margin-top: 4em;

	.row {
		@include a-margin-lr();
	}

	.announcement {
		border-bottom: 1px solid $text-black;
    padding-bottom: .2em;
    margin-bottom: 1em;
		width: 100%;
	}
	.stories {
		
		.title {
			@include a-black-link();
			font-size: $large-copy-size;
			line-height: $large-copy-lh;
		}
		.author {
			@include a-dark-grey-link();
			font-size: $regular-copy-size;
			line-height: $regular-copy-lh;
		}
		.excerpt {
			font-size: $small-copy-size;
			line-height: $small-copy-lh;
			max-height: 60pt;
  		overflow: hidden;
		}
		article {
			margin-bottom: .5em;
		}

	}
}
	

.single-email {
	margin-top: 2em;
}

.rollout-recos{
	margin-top: 4em;
	padding-bottom: 4em;

	.row {
		@include a-margin-lr();
	}

	.announcement {
		text-align: center;
		position: relative;
		width: 100%;
		padding-bottom: 1.5em;
		&:after {
			content: '';
			width: 20px;
			position: absolute;
			border-bottom: 1px solid $text-black;
	    top: 1.5em;
	    right: 49%;
		}
	}

	.stories {
		.image-fill {
			height: 200px;
		}
		.meta{
			/*flex: 1 0 auto;*/
	    flex-direction: column;
	    justify-content: space-between;
	    display: flex;
		}
		.title {
			@include a-black-link();
			font-size: $large-copy-size;
			line-height: $large-copy-lh;
		}
		.author {
			@include a-dark-grey-link();
			font-size: $regular-copy-size;
			line-height: $regular-copy-lh;
		}
		.excerpt {
			font-size: $small-copy-size;
			line-height: $small-copy-lh;
			max-height: 75pt;
			overflow: hidden;
			margin-bottom: 0;
		}
		article {
			margin-bottom: 1.5em;
		}
	}

}


.poems,
.stories {
	.entry-row {
		margin-top: 4em;
		font-family: $sans-serif;
		margin-bottom: 10em;
	}
}

.stories {
	.entry-content {
		blockquote.pullquote {
			font-family: $sans-serif;
		}
		.parasectionhed {
			font-family: $non-fiction;
			margin-top: 1.8em;
		}
	}
}

@include media-breakpoint-up(sm) {
	
	
	.entry-content {
		blockquote {
			margin-left: 1.5em;
			margin-right: 1.5em;
		}
		blockquote.pullquote {
			margin-left: 1em;
		}
		.podcatchers {
			.pod {
				@include a-padding-lr();
				
			}
			.pod:first-of-type {
				padding-left: 0;
			}
			.pod:last-of-type {
				padding-right: 0;
			}
		}
	}
	

	.rollout-recos {
		.stories {
			.image-fill {
				height: 225px;
				max-width: 48%;
			}
		}
		.meta {
			padding-left: 20px;
		}
	}

}


@include media-breakpoint-up(md) {

	.entry-row {
		margin-top: 2em;

		.flag {
			text-align: right;
			font-family: $sans-serif;
	    text-transform: uppercase;
	    font-size: $section-label-size;
	    margin-top: 4em;
		.text-center {
			margin-left: auto;
	    margin-right: 0;
	    width: 24px;
	    line-height: 16pt;
		}

		}	
	}

	
	.entry-content {
		blockquote {
			margin-left: 2.4em;
			margin-right: 2.4em;
		}
		blockquote.pullquote {
			margin-left: -3em;
			margin-right: 1.4em;
		}

		.related-box {
			margin-left: -3em;
			float: left;
	    margin-right: 2.5em;
	    margin-top: 0.5em;
		}
	}


	.author-bio-instory {
		border-bottom: none;
	}

	.icon-contain {
		@include a-padding-lr();

		.inner-link {
			align-items: center;
			flex-direction: row;
	    display: flex;
	    justify-content: flex-end;
	    label {
	    	display: inline;
				margin-left: 1em;
				margin-bottom: 0;
	    }
		}

		.reading-item {
			label {
	    	
	    	width: 88px;
	    }
		}
	}

	.single-email {
		margin-top: 4em;

		.hs_email,
		.hs_submit {
			display: inline-block;
		}

		.hed, .einput {
			margin-left: 10%;
		}
	}

	.entry-enjoy {
		.content-type {
			font-size: $small-copy-size;
			line-height: $small-copy-lh;
			color: $light-grey-text;
			font-style: italic;
			text-transform: capitalize;
		}
	}

	.rollout-recos {
		margin-top: 6em;

		.stories {
			.image-fill {
				height: 200px;
			}	
			.date-wrap {
				color: $dark-grey-text;
			}
		}
	}
	
}

@include media-breakpoint-up(lg) {
	
	.entry-content {
		blockquote.pullquote {
		  width: 60%;
	    display: inline-block;
	    float: left;
	    padding-right: 1em;
	    margin-bottom: 0.5em;
	    margin-top: 0.5em;
		}
	.related-box {
			margin-left: -5em;
		}
	}

		  
	.single-email {
		
		.einput {
			margin-left: 0%;
		}
	}

	.rollout-recos {
		.stories {
			article {
				margin-bottom: 2.5em;
			}
			.image-fill {
				margin-right: 10px;
    		margin-left: -10px;
			}
			.date-wrap {
				text-align: right;
				padding-right: 3em;
			}
		}


	}


}


@include media-breakpoint-up(xl) {

	.entry-content {
		blockquote.pullquote {
	    margin-left: -5em;
	    font-size: $subhead-size;
	    line-height: $subhead-lh;
		}		
	}


	
}


@include media-breakpoint-down(sm) {
	img.alignright,
	img.alignleft,
	a img.alignright,
	a img.alignleft {
		display: block;
		margin-left: auto !important;
		margin-right: auto !important;
	}
}


/* Dumb old phones */
@media only screen and (max-width: 400px) {
	.rollout-recos {
		.stories {
			padding-right: 20px;
			.image-fill {
				height: 150px;
			}
		}

		article {
			@include z-padding-lr();
			@include z-margin-lr();

			.image-fill,
			.meta {
				flex: 0 0 100%;
	    	max-width: 100%;
			}
			.meta {
				margin-top: 1em;
			}
		}
	}
}



