/* XS style time */

.header-contain {
	@include z-padding-lr();
	margin-top: 1em;

	.caption {
		@include a-dark-grey-link();
		color: $dark-grey-text;
		font-family: $sans-serif;
		text-align: right;
		font-size: $small-copy-size; 
		line-height: $small-copy-lh; 
    margin-top: 0.8em;
    margin-bottom: .3em;
    padding-left: .5em;
    padding-right: .5em;
	}
	.caption.wf {
		text-align: left;
	}
	.issue{
		color: $light-grey-text;
		@include a-dark-grey-link();
		.date, .number {
			padding-left: .5em;
			padding-right: .5em;
		}
		.number {
			color: $text-black;
			@include a-black-link();
		}
	}
}
.oldie {
	.header-contain {
		margin-top: 0;
	}
	.meta-wrap {
		.meta {
			height: 22em;
	    flex-direction: column;
	    justify-content: space-around;
	    display: flex;
	    margin-bottom: 0;

		}
		.entry-title {
			font-size: 36pt;
	    line-height: 40pt;
		}
	}
}

.archive-contain {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-bottom: 4em;

	.image-contain,
	.meta {
		flex: 1;
	}
}

.salvo-fold { /*  this is salvo fold take 2  */
	.salvo-featured {
		width: 100%;
    height: 100%;
	}
	.yes-img .entry-title {
		margin-top: 1.5em;
	}

}

.meta-wrap {
	@include z-margin-lr();
	@include z-padding-lr();
	
  display: flex;
  flex-direction: row;
  justify-content: space-around;

	.meta {
		order: 1;
		margin-bottom: 2em;
		overflow: hidden;
		flex: initial;
    max-width: initial;
	}
	.meta.no-img {
		height: 400px;
				flex: initial;
    max-width: initial;

	}
	.column-title {
		font-size: $large-copy-size;
		line-height: $large-copy-lh;
		@include a-dark-grey-link();
    margin-left: -1em; /* ensure the whole title is on one line please */
    margin-right: -1em;
	}
	.author-meta {
		margin-top: 1em;	
		font-size: 17pt;
		line-height: $regular-copy-lh;
		color: $dark-grey-text;
		.author {
			@include a-dark-grey-link();
		}
		.date {
			color: $light-grey-text;
		}
	}
	.entry-title {
		font-size: 36pt;
    line-height: 40pt;
		margin-top: 0.8em;
    margin-bottom: 0.8em;
    @include z-margin-lr();
	}
	.entry-subtitle {

		font-size: $regular-copy-size;
		line-height: $regular-copy-lh;
		color: $dark-grey-text;
	}

}
.single-event {
	.entry-title {
		margin-top: 1.8em;
  	margin-bottom: 1.8em;
	}
	.single-email .break {
		display: none;
	}
	.time {
		display: block;
	}
	.no-img .stick {
		margin-top: 1em;
	}
}

.image-contain {
	order: 2;
	margin-bottom: 2.5em;
	margin-left: auto;
	margin-right: auto;

	.image-fill {
		height: 60vh;
		background-size: cover;
		min-height: 350px;
		max-height: 450px;
	}
	.image-fill.tall {
		max-height: 600px;
	}
}

.image-contain.no-img {
	order: 2;
}

.salvo-fold {
	.meta-wrap {
		height: initial;
		background-color: $text-black;	
		height: 22em;
	}
	.entry-title {
		color: $text-white;
		font-size: 36pt;
    line-height: 40pt;
		margin-top: 0.8em;
    margin-bottom: 0.8em;
    @include z-margin-lr();
	}
	.entry-subtitle {
		margin-bottom: 4em;
	}
	.meta {
		margin-left: auto;
		margin-right: auto;
	}
	.image-contain {
		margin-top: 0;
		.image-fill {
			height: 22em;
			max-height: initial;
		}
	}
	.meta-wrap .meta.no-img {
  	height: initial;

    margin-bottom: 1em;
    margin-top: 0em;
    justify-content: space-between;

    display: flex;
    flex-direction: column;
	}
	.author-meta .author {
		@include a-link-grey-on-black();
	}
	.date {
		@include a-white-link();
		display: block;
		padding-left: 0;
	}
}

.poem-fold,
.story-fold {
	.meta-wrap {
		background-color: $frame-yellow;
		height: 18em;
		.meta {
			height: initial;
			display: flex;
    	flex-direction: column;
    	flex: 0 0 100%;
    	max-width: 100%;
		}
		.author-meta {
			flex: 0 0 20%;
			color: $text-black;
			@include a-black-link();
		}
		.title-contain {
			flex: 0 0 70%;
			margin-top: auto;
			margin-bottom: auto;
			max-width: 860px;
			margin-left: auto;
			margin-right: auto;
			.entry-title {
				font-family: $non-fiction;
			}
		}
		.date {
			color: $dark-grey-text;
			@include a-dark-grey-link();
			padding-left: 1em;
		}
	}
}

.story-fold {
	.meta-wrap {
		background-color: $frame-blue;
	}
}

.archive-salvo {
	margin-bottom: 4em;

	.meta-wrap .meta.no-img {
    justify-content: space-around;
	}

	.author-meta .author {
		color: $text-white;
		@include a-white-link();
	}

	.column-title {
		color: $light-grey-text;
	}
	.issue {
		.number {
			color: $text-white;
			@include a-white-link();
		}
	}
	.caption-wrap {
		margin-bottom: -4em;
	}
	
}

@media screen and (min-width: 420px) {
 .salvo-fold .image-contain .image-fill {
		height: 27em;
 }
}

@include media-breakpoint-up(sm) {
	.header-contain {
		margin-top: 2em;
	}
	.salvo-fold {
		margin-top: 0;
		.date {
			display: inline;
			padding-left: 1em;
		}
		.image-contain {
			.image-fill {
				height: 32em;
			}
		}
		.yes-img .entry-title {
			margin-top: 1.8em;
		}
	}
	.entry-title {
		margin-top: 1.2em;
    margin-bottom: 1.2em;
  }

	.oldie .meta-wrap .meta {
		padding-top: 1em;
		padding-bottom: 1em;
		height: 30em;
	}

}


@include media-breakpoint-up(md) {

	.header-contain {
		@include z-padding-lr();
		margin-bottom: 4em;
		margin-top: 0em;

		.caption-wrap {
			@include z-margin-lr();
			margin-bottom: 1.5em;
		}
		.caption {
			padding-right: 0px;
		}
	}

	.oldie {
		.header-contain {
			.caption-wrap {
				margin-top: -4em;
				.caption {
					text-align: right;
				}
			}
		}
	}

	.meta-wrap {
		@include z-padding-lr();
		flex-direction: row;
		justify-content: flex-start;

		.image-contain {
			@include z-padding-lr();
			@include z-margin-lr();
			order: 1;
		}

		.meta {
			order: 2;
			flex-direction: column;
	    justify-content: space-between;
	    flex: auto;
	    display: flex;
	    flex: 0 0 49%;
			max-width: 49%;
    	padding-left: 1.5em;
    	padding-right: 1.5em;
		}

		.hero-image {
			@include z-margin-lr();
		}

		.meta,
		.image-contain {
			margin-bottom: 0;
			margin-right: auto;
		}

		.entry-title {
			@include z-margin-lr();
			font-size: 36pt;
			line-height: 36pt;
		}
		.image-fill {
			flex: auto;
		}
		.column-title {
			margin-top: 1em;
		}	
		.entry-subtitle {
			margin-bottom: 1em;
		}

	}
	.salvo-fold {
		.meta-wrap {
			height: 100vh;
			.entry-title {
				font-size: $title-size;
				line-height: $title-lh;
			}
			.meta.no-img {
				margin-bottom: 40vh;
			}
			.author-meta {
				margin-top: 1.5em;
			}
		}
		.image-contain {
			margin-top: -30vh;
		}
		.image-contain .image-fill {
			height: 80vh;
		}
		.image-contain.no-img {
			margin-top: 0;
		}
	
		 /*  this is salvo fold take 2  */

		.meta-wrap .meta.no-img {
			margin-bottom: 50vh;
		}

		.image-contain {
			margin-top: -40vh;
		}
	
		.yes-img {
			margin-bottom: 50vh;
		}

		/* end take 2 */
	}


	.poem-fold,
	.story-fold {
		.meta-wrap {
			height: 26em;
			.meta {
				padding-left: 1.5em;
				padding-right: 1.5em;
			}
		}
	}	
	.archive-salvo {
		.meta-wrap {
			height: 60vh;
			.meta.no-img {
				margin-bottom: 12vh;
			}
		}

	}
	.oldie .meta-wrap {
		.meta {
			padding-top: 0;
			padding-bottom: 0;
			height: initial;
			justify-content: space-between;
		}
		.entry-title {
			font-size: $title-size;
			line-height: $title-lh;
		}
	}
	.archive-contain {
		flex-direction: row;
	}
}

@include media-breakpoint-up(lg) {
	.salvo-fold {
		.meta-wrap {
			height: 100vh;
			.meta.no-img {
				margin-bottom: 40vh;
			}
		}
	 
	 	/*  this is salvo fold take 2  */
		.meta-wrap .meta.no-img {
			margin-bottom: 50vh;
		}

		.image-contain {
			margin-top: -40vh;
		}

		/*  end take 2 */

	}	
	.poem-fold,
	.story-fold {
		.meta-wrap {
			.author-meta {
				margin-top: 3em;
			}
		}
	}
	.archive-salvo {
		.meta-wrap {
			height: 60vh;
			.meta.no-img {
				margin-bottom: 10vh;
			}
		}
	}
	.single-event {
		.no-img .stick {
			margin-top: 2em;
		}
	}

}


@include media-breakpoint-up(xl) {

	.salvo-fold {
		.hero-image {
			margin-left: auto;
			margin-right: auto;
			max-width: 870px;
		}

		/*  this is salvo fold take 2  */
		.meta-wrap .meta.no-img {
			margin-bottom: 10vh;
		}

		.yes-img {
			margin-bottom: 57vh;
		}

		.image-contain {
			margin-top: -47vh;
		}

		/*  end take 2 */
	}
	
}



/* Dumb old phones */
@media only screen and (max-width: 320px) {
	.meta-wrap {
		@include z-padding-lr();	
	}
}





