.single-issue {

	.issue-meta {
		@include a-margin-lr();
	}
	.type-issue {
		height: initial;
	}
}




.issue-buttons {
	margin-bottom: 2em;

	.title {
		margin-bottom: 1.2em;
		text-align: center;
    width: 100%;
    margin-top: 1.2em;
	}

	.btn {
		display: block;
		width: 100%;
		margin-right: auto;
		margin-bottom: 1.2em;
	}
	.buttons {
		width: 100%;
	}


}	


.single-issue {

	 section.row {
		@include z-margin-lr();
	}

	 .row.story {
		@include a-margin-lr();
		margin-bottom: 1.5em;
	}

	h2.toc  {
		width: 100%;
		position: relative;
		margin-top: 2em;
		margin-bottom: 1em;
		&:before {
			content: '';
			position: absolute;
			height: 1px;
			background-color: $text-black;
			width: 20px;
			top: -1em;
			left: 48.5%;
		}
	}

	.toc-main-heading {
		font-family: $sans-serif;
		width: 100%;
		text-align: center;
	}
	.heading-poems, 
	.heading-stories {
		font-family: $non-fiction;
	}

	.image-fill {
		height: 10em;
	}
	.issue-cover {
		.image-fill {
			height: 22em;
		}
	}
	.story {
		overflow: hidden;

		.meta {
			@include z-padding-lr();
		}
		.title {
			color: $text-black;
			@include a-black-link();
			margin-top: 0.4em;
			margin-bottom: 0.4em;
		}
		.author {
			color: $dark-grey-text;
			@include a-dark-grey-link();
		}
	}
}

@include media-breakpoint-up(sm) {
	.single-issue .issue-cover {
		.image-fill {
			height: 26em;
		}
	}
	.single-issue {
		.story {
			.title {
				margin-top: 0em;
			}
			.meta {
				padding-left: 0.8em;
			}
		}
	}

}


@include media-breakpoint-up(md) {
	.single-issue .issue-meta {
		@include z-margin-lr();
		margin-bottom: 4em;
		.meta-wrap {
			flex: 1 0 auto;
			flex-direction: column;
			justify-content: space-between;
			width: 100%;
		}
	}
	.issue-buttons {
		display: flex;
		margin-bottom: 0;

		.issue-no {
			width: 100%;
			color: $dark-grey-text;
			margin-top: 2em;		
		}
		.buttons {
			flex-direction: row;
    	display: flex;
		}
		.btn {
			margin-bottom: 0;
		}
	}
	.issue-cover {
		order: 2;
		padding-right: 0px;

		.image-fill {
			height: 28em;
		}
	}
	.single-issue {
		.story {
			.title {
				margin-top: 0.8em;
			}
			.meta {
				padding-left: 0em;
			}
		}
		h2.toc  {
			&:before {
			left: 49.3%;
			}
		}
	}	
	.contents .overview {
    justify-content: center;
	}	
}

@include media-breakpoint-up(lg) {

	.single-issue .issue-cover {
		.image-fill {
			height: 28em;
		}
	}


}



@include media-breakpoint-up(xl) {

	.single-issue .issue-cover {
		.image-fill {
			height: 35em;
		}
	}


}



