.blog-emember {
	
	background-color: $lightest-grey;
	margin-top: 1.4em;
	padding: 1em 0;
	display: flex;
	
	.row {
		@include z-margin-lr();
	}

	.copy {
		margin-top: 1em;
    padding-left: 0;
	}

	.break {
		display: none;
	}

	.hed, .copy, .einput {
		margin-left: auto;
		margin-right: auto;
	}

	.hed {
		text-align: center;
		h3 {
			padding-bottom: 8px;
			margin-bottom: .8em;
		}
	}

	.einput {
		.hbspt-form {
			width: 100%;
			margin-top: .4em;
			overflow: hidden;
		}
		.input {
			width: 100%;
		}
		.hs-input {
			background-color: #fff;
		}
		.hs-button {
			margin-top: .4em;
    	width: 95%;
    	line-height: 31px;
			&:hover,
		  &:active,
		  &:focus {
				color: $text-black;
				background-color: white;
	  	}
		}
	}


}


@include media-breakpoint-up(md) {

	.blog-emember {
		margin-top: 2em;

		.einput {
			padding-left: 0;

			 .hs_email {
					width: 72%;
					display: inline-block;
				}
			.hs_submit {
				display: inline-block;
				width: 20%;
				margin-left: 3%;
			}
			.hs-button {
				margin-top: 0;
			}
		}
	
		.copy {
			margin-top: 0;
		}
		.hed {
			margin-bottom: 0;
		}
	}
}

@include media-breakpoint-up(lg) {

	.blog-emember {
		.row {
			width: 100%;
		} 
		.hed {
			flex: 0 0 25.66667%;
    	max-width: 25.66667%;
    	h3 {
    		margin-bottom: 0px;
    		padding-top: 8px;
    	}
		}
		.copy {
			margin-left: 0.5em;
    	margin-right: 0.5em;
    	padding-top: 0.4em;
		}
		.einput {
			.hs_email {
				width: 65%;
			}
		}
	}

}

@include media-breakpoint-up(xl) {

	.blog-emember {
		.hed {
			flex: 0 0 20.66667%;
    	}
  	}
}